<div class="wrapper">
  <sg-header></sg-header>
  <main>
    <form #loginForm="ngForm" class="login-form" (ngSubmit)="doLogin(loginForm)">
      <fieldset class="form-wrapper">
        <label>Login</label>
        <input name="login" type="text" size="20" ngModel required>
        <label>Password</label>
        <input name="password" size="20" type="password" ngModel required>
        <div class="buttons">
          <button [disabled]="loginForm.form.invalid || loginForm.form.pristine">Enter</button>
          <div *ngIf="loginError" class="error">{{loginError}}</div>
        </div>
      </fieldset>
    </form>
  </main>
  <sg-footer></sg-footer>
</div>
