<div  class="course" [ngClass]="{greenBackground: course.topRated}" [sgHighLightBorderCourse]="course.date">
  <div>
    <div class="course-header">
      <span><b>{{course.title | uppercase }}</b></span>
      <span>{{course.duration | courseDuration: course.duration}}
        <span *ngIf="course.topRated"><b>✮</b></span>
      </span>

      <span>{{course.date | date }}</span>
    </div>
    <p class="course-desc">l{{course.description}}</p>
  </div>
  <div class="course-actions">
    <button (click)="deleteCourse(course)" class="btn-delete">Delete</button>
    <button class="btn-edit">Edit course</button>
  </div>
</div>
