html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    width: 800px;
}

main {
    background-color: white;
    flex: 1;
}

button {
    margin: 5px;
}

.red {
  color: red;
}

.green {
  color: darkgreen;
}

.greenBackground {
  background-color: #a5dc86;
}

.center {
  display: flex;
  justify-content: center;
}
